In [1]:
# Active player stats
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
import time
import pandas as pd
import numpy as np

In [2]:
player_ids = []
player_mapping = []
for i in players.get_inactive_players():
    player_mapping.append(i)
    player_ids.append(i['id'])

In [3]:
len(player_ids)

3982

In [6]:
nba_career_stats = playercareerstats.PlayerCareerStats(
    player_id=2544, # Lebron's ID
    timeout=30
).get_data_frames()[1]

In [7]:
nba_career_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER_ID  1 non-null      int64
 1   LEAGUE_ID  1 non-null      object
 2   Team_ID    1 non-null      int64
 3   GP         1 non-null      int64
 4   GS         1 non-null      int64
 5   MIN        1 non-null      float64
 6   FGM        1 non-null      int64
 7   FGA        1 non-null      int64
 8   FG_PCT     1 non-null      float64
 9   FG3M       1 non-null      int64
 10  FG3A       1 non-null      int64
 11  FG3_PCT    1 non-null      float64
 12  FTM        1 non-null      int64
 13  FTA        1 non-null      int64
 14  FT_PCT     1 non-null      float64
 15  OREB       1 non-null      int64
 16  DREB       1 non-null      int64
 17  REB        1 non-null      int64
 18  AST        1 non-null      int64
 19  STL        1 non-null      int64
 20  BLK        1 non-null      int64
 21  TOV        1 non-null      int64
 22  PF         1 non-null      int64
 23  PTS        1 non-null      int64
dtypes: float64(4), int64(19), object(1)
memory usage: 320.0+ bytes

In [8]:
nba_career_stats['PTS'].sum() #Correct - according to Google

34087

In [51]:
TIMEOUT = 200
CAREER_TOTALS_DF_INDEX = 1
SHARD_SIZE = 250
SHORT_SLEEP = 5
LONG_SLEEP = 30

start = 250*15

nba_career_stats = playercareerstats.PlayerCareerStats(
    player_id=player_ids[start],
    timeout=TIMEOUT
).get_data_frames()[CAREER_TOTALS_DF_INDEX]

for id in range(start+1,start+SHARD_SIZE):
    try:
        player_index = player_ids[id]
    except IndexError:
        break

    career = playercareerstats.PlayerCareerStats(
        player_id=player_index,
        timeout=TIMEOUT
    )

    career_stats = career.get_data_frames()[CAREER_TOTALS_DF_INDEX]
    nba_career_stats = pd.concat([nba_career_stats,career_stats],ignore_index=True)

    time.sleep(SHORT_SLEEP)

nba_career_stats

,PLAYER_ID,LEAGUE_ID,Team_ID,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201238,00,0,162,9,796,56,125,0.448000,2,...,0.563380,60,82,142,51,45,8,31,134,154
1,770,00,0,1090,548,20215,2528,4356,0.580348,0,...,0.568256,1785,3562,5347,428,326,1403,1208,3136,6259
2,78499,00,0,4,None,14,2,5,0.400000,None,...,0.000000,None,None,5,0,None,None,None,3,4
3,78500,00,0,823,73,20947,5079,10084,0.503669,55,...,0.819962,393,1120,1580,3591,1022,262,1117,1705,12809
4,78501,00,0,357,None,4714,465,1085,0.428571,None,...,0.809659,81,241,682,494,133,30,None,608,1215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,1627757,00,0,19,0,108,10,31,0.322580,0,...,0.600000,11,24,35,4,2,5,3,17,23
227,1627835,00,0,98,30,1667,169,455,0.371428,70,...,0.769230,28,228,256,82,35,31,83,164,458
228,78647,00,0,7,0,30,1,5,0.200000,0,...,0.000000,3,5,8,1,1,3,4,9,2
229,78648,00,0,53,None,398,49,135,0.362962,None,...,0.555555,None,None,46,73,None,None,None,34,118
230,78650,00,0,56,None,None,98,323,0.303405,None,...,0.706422,None,None,None,50,None,None,None,182,273

In [52]:
nba_career_stats_16 = nba_career_stats

In [ ]:
nba_career_stats_1

In [ ]:
nba_career_stats_2

In [ ]:
nba_career_stats_3

In [ ]:
nba_career_stats_4

In [ ]:
nba_career_stats_5

In [26]:
nba_career_stats_6

In [ ]:
nba_career_stats_7

In [ ]:
nba_career_stats_8

In [ ]:
nba_career_stats_9

In [ ]:
nba_career_stats_10

In [ ]:
nba_career_stats_11

In [ ]:
nba_career_stats_12

In [ ]:
nba_career_stats_13

In [ ]:
nba_career_stats_14

In [48]:
nba_career_stats_15

In [ ]:
nba_career_stats_16

In [55]:
nba_career_stats_final = pd.concat([
    nba_career_stats_1,
    nba_career_stats_2,
    nba_career_stats_3,
    nba_career_stats_4,
    nba_career_stats_5,
    nba_career_stats_6,
    nba_career_stats_7,
    nba_career_stats_8,
    nba_career_stats_9,
    nba_career_stats_10,
    nba_career_stats_11,
    nba_career_stats_12,
    nba_career_stats_13,
    nba_career_stats_14,
    nba_career_stats_15,
    nba_career_stats_16
],axis=0)

In [56]:
nba_career_stats_final.to_csv("nba_career_stats_final_historic.csv")