In [274]:
# nba_api
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
import time
import pandas as pd
import numpy as np

In [275]:
# grab all player_ids (active and inactive)
player_ids = []
for i in players.get_players():
    player_ids.append(i['id'])

In [276]:
player_ids.index(202685)
# start at 3067

4065

In [278]:
player_ids_tmp = player_ids[4065:]

In [279]:
TIMEOUT = 200
CAREER_TOTALS_DF_INDEX = 3

nba_career_stats = playercareerstats.PlayerCareerStats(
    player_id=player_ids_tmp[0],
    timeout=TIMEOUT
).get_data_frames()[CAREER_TOTALS_DF_INDEX]

for pid in range(1,len(players_ids_tmp)):
    career = playercareerstats.PlayerCareerStats(
        player_id=player_ids_tmp[pid],
        timeout=TIMEOUT
    )
    
    career_stats = career.get_data_frames()[CAREER_TOTALS_DF_INDEX]
    nba_career_stats = pd.concat([nba_career_stats,career_stats],ignore_index=True)
    time.sleep(7)

IndexError: list index out of range

In [281]:
# nba_career_stats
nba_career_stats_7 = nba_career_stats

In [218]:
nba_career_stats_1.describe()

           FT_PCT
count  429.000000
mean     0.635846
std      0.274046
min      0.000000
25%      0.550724
50%      0.715639
75%      0.805687
max      1.000000

In [219]:
nba_career_stats_2.describe()

           FT_PCT
count  365.000000
mean     0.626108
std      0.293916
min      0.000000
25%      0.500000
50%      0.723076
75%      0.818181
max      1.000000

In [220]:
nba_career_stats_3.describe()

           FT_PCT
count  378.000000
mean     0.601423
std      0.304129
min      0.000000
25%      0.500000
50%      0.706848
75%      0.800000
max      1.000000

In [239]:
nba_career_stats_4.describe()

           FT_PCT
count  288.000000
mean     0.603178
std      0.297007
min      0.000000
25%      0.500000
50%      0.707107
75%      0.794827
max      1.000000

In [252]:
nba_career_stats_5.describe()

           FT_PCT
count  301.000000
mean     0.603426
std      0.294278
min      0.000000
25%      0.500000
50%      0.700000
75%      0.796296
max      1.000000

In [263]:
nba_career_stats_6.describe()

           FT_PCT
count  280.000000
mean     0.616854
std      0.301668
min      0.000000
25%      0.541384
50%      0.700000
75%      0.813258
max      1.000000

In [282]:
nba_career_stats_7.describe()

           FT_PCT
count  260.000000
mean     0.586479
std      0.321153
min      0.000000
25%      0.500000
50%      0.701809
75%      0.801694
max      1.000000

In [284]:
nba_stats = pd.concat([
    nba_career_stats_1,
    nba_career_stats_2,
    nba_career_stats_3,
    nba_career_stats_4,
    nba_career_stats_5,
    nba_career_stats_6,
    nba_career_stats_7    
],axis=0)

In [288]:
nba_stats.to_csv("nba_career_stats.csv")